.affix

.affix-top

.affix-bottom

#myAffix
  border: 1px solid black;

h1
  margin 0

#sidebar
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;

  *
    padding-left 5px

#sidebar ul li
  /* border-bottom: 1px solid black; */

#main
  width: 550px;
  margin: 0 0 50px 200px;

h2
  font-size: 18px;

h3
  font-size: 16px;

img
  width: 800px;
  border: 1px solid black;
