.affix,
.affix-top,
.affix-bottom,
#myAffix {
  border: 1px solid #000;
}
h1 {
  margin: 0;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
#sidebar * {
  padding-left: 5px;
}
#main {
  width: 550px;
  margin: 0 0 50px 200px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
img {
  width: 800px;
  border: 1px solid #000;
}
