mixin makeImageTag(pgNum)
  if (pgNum < 10)
    img(src='http://swartzfiles.org/foia-request-001-page-00' + pgNum + '.jpg')
  else if (number < 100)
    img(src='http://swartzfiles.org/foia-request-001-page-0' + pgNum + '.jpg')
  else
    img(src='http://swartzfiles.org/foia-request-001-page-' + pgNum + '.jpg')
